.country-card {
    padding: 16px;
    margin: 8px;
    background-color: #ffffff1b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    h2 {
        margin-bottom: 8px;
        text-transform: uppercase;
        color: white;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 8px;
    }

    p {
        margin: 0;
    }

}